<!-- wp:template-part {"slug":"header","theme":"travel-boost","area":"header","className":"travel-boost-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group">
    <!-- wp:pattern {"slug":"featured/banner"} /-->
    <!-- wp:pattern {"slug":"featured/hottest-trips"} /-->
    <!-- wp:pattern {"slug":"featured/simply"} /-->
    <!-- wp:pattern {"slug":"featured/pair-cover"} /-->
    <!-- wp:pattern {"slug":"featured/where-we"} /-->
    <!-- wp:pattern {"slug":"featured/book-confidence"} /-->
    <!-- wp:pattern {"slug":"featured/travel-matter"} /-->
    <!-- wp:pattern {"slug":"featured/popular-destination"} /-->        
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"travel-boost","area":"footer","className":"travel-boost-footer"} /-->